@model IEnumerable<DoAnNhom1.Models.Tree>
@{
    ViewBag.Title = "TC";
    Layout = "~/Views/Shared/index.cshtml";
}
<div class="PlantTrees-bg">
    <div class="container " style="padding-top:10rem;">
        <h1 class="text-left text-light">ALL</h1>
        <div class="content bg-light">
            <div class="row">
                @*@foreach (var pro in Model)
                {*@
                    <div class="col-md-4">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/NTB.png" alt="mb" class="img-fluid rounded" style="width: 100%;">
                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/DB.png" alt="mt" class="img-fluid rounded" style="width: 100%;">

                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/TB.png" alt="mn" class="img-fluid rounded" style="width: 100%; ">
                                @*<img style="width:100%" src="@Url.Content(pro.ImageTree)" />*@
                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/DBSH.png" alt="mb" class="img-fluid rounded" style="width: 100%;">
                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/BTB.png" alt="mt" class="img-fluid rounded" style="width: 100%;">

                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/DNB.png" alt="mn" class="img-fluid rounded" style="width: 100%; ">

                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="thumbnail m-3 overlay-sm">
                            <a href="#">
                                <img src="~/image/DBSCL.png" alt="mn" class="img-fluid rounded" style="width: 100%; ">
                            </a>
                            <div class="view-button-bottom">
                                <button class="btn btn-outline-light btn-lg btn-block font-weight-bold text-uppercase">View all</button>
                            </div>
                        </div>
                    </div>
                 @*}*@
            </div>
        </div>
    </div>
</div>